################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ISTN3ASMajorProject/.vs/ISTN3ASMajorProject/FileContentIndex
