################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

BookingSystem\.vs\BookingSystem\FileContentIndex
.vs/
/DrivingSchoolBookingSystem/ManageLearners.cs
/DrivingSchoolBookingSystem/ManageLearners.Designer.cs
/DrivingSchoolBookingSystem/ManageLearners.resx
/DrivingSchoolBookingSystem/Program.cs
/DrivingSchoolBookingSystem/AnalyticsForm.cs
/DrivingSchoolBookingSystem/AnalyticsForm.Designer.cs
/DrivingSchoolBookingSystem/LessonCodeForm.Designer.cs
/DrivingSchoolBookingSystem/LessonCodeForm.resx
/DrivingSchoolBookingSystem/AnalyticsForm.resx
