<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DrivingSchoolBookingSystem.Properties.Settings.BookingSystemConnectionString"
            connectionString="Data Source=SUHAIL-LAPTOP\SQLEXPRESS;Initial Catalog=BookingSystem;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
